<div class="">
    <div layout="row">
        <div flex>
        <label for="file-seletor" style="float: left; padding-right: 20px;">Select file</label>
        <input type="file" on-read-file="CsvFileCtrl.parseContent($fileContent)" />
        </div>
        <button flex type="button" 
                class="btn btn-danger"
                name="file-seletor" 
                ng-disabled="CsvFileCtrl.sections.length < 1"
                ng-click="CsvFileCtrl.save()">
                <i class="fa fa-floppy-o"></i>
                Save
        </button>   
    </div> 
    <div ng-repeat="section in CsvFileCtrl.sections">
        <h2>{{::section.startLabel}} [{{::section.json.length}}]</h2>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                 <tr>
                     <th ng-repeat="col in section.columns">{{::col}}</th>
                 </tr>               
            </thead>
            <tbody>
                <tr ng-repeat="values in section.json">
                    <td ng-repeat="colz in section.columns" >{{::values[colz]}}</td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>

