<h1 class="title-page">Upload Report</h1>
<md-content layout-xs="column" layout="row" layout-wrap>
    <div class="bkgr-load">
        <div class="image-folder">
            <label for="file-input">
                <img src="/img/upload-black.png" alt="">
            </label>
        </div>
        <h2>Select your data file <label for="file-input" class="select-link color-primary-3">browse</label></h2>
        <input type="file" on-read-file="CsvFileCtrl.parseContent($fileContent)" accept=".csv" id="file-input" />
        <span class="name-file"> {{CsvFileCtrl.selectedFile}}</span>
        <h3>Supported formats</h3>
        <p><img src="/img/csv.png" alt=""></p>
        <md-button aria-label="Select" name="file-seletor" ng-hide="CsvFileCtrl.sections.length < 1" ng-click="CsvFileCtrl.save()" class="no-padding no-margin btn-save btn-bkgr-color">
            save report
        </md-button>
    </div>
</md-content>
<md-list ng-repeat="section in CsvFileCtrl.sections" class="table-report">
    <h2>
        {{::section.startLabel}} [{{::section.json.length}}]
        <md-button data-toggle="collapse" data-target="#table{{$index + 1}}" class="md-fab md-mini md-hue-2 no-padding btn-bkgr-color btn-plus-less" ng-click="toggle = !toggle">{{toggle && '-' || '+'}}</md-button>
    </h2>

    <table id="table{{$index + 1}}" class="table table-striped table-condensed table-hover collapse">
        <thead>
             <tr>
                 <th ng-repeat="col in section.columns" md-order-by="name">{{::col}}</th>
             </tr>               
        </thead>
        <tbody>
            <tr ng-repeat="values in section.json">
                <td ng-repeat="colz in section.columns" >{{::values[colz]}}</td>
            </tr>
        </tbody>
    </table>   
</md-list>