<md-dialog aria-label="Login Dialog">
    <md-dialog-content>              
                    <h1 class="text-center login-title">
                        Sign in to continue to Udemy Reporter
                    </h1>
                    <div class="account-wall">
                        <img class="profile-img" src="img/login-profile.png"
                            alt=""/>
                            <form class="form-signin">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>
                                        Email
                                    </label>
                                    <input ng-model="LoginCtrl.email" required autofocus/>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>
                                        Password
                                    </label>
                                    <input type="password" ng-model="LoginCtrl.password" required />
                                </md-input-container>
                            </form>
                    </div>
                               
    </md-dialog-content>
    <md-dialog-actions>
            <md-button class="btn btn-lg btn-primary btn-block" type="button" ng-click="LoginCtrl.login()">
                Sign in
            </md-button>           
    </md-dialog-actions>
    </md-dialog>
